/******** Welcome Page ********/

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-social span {
    margin-right:5px;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #23345a;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover{
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
}

.btn-google:hover{
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}

.m-b-md {
    margin-bottom: 30px;
}

/*----------product-detail------*/

#product-detail.productbox {
    background-color:#ffffff;
    padding:40px;
    margin-bottom:10px;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
}
#product-detail.producttitle {
    font-weight:bold;
    padding:5px 0 5px 0;
}
#product-detail.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}
#product-detail.pricetext {
    font-weight:bold;
    font-size:1.4em;
}
/*----------Personel------*/
#personels.details li {
    list-style: none;
}
#personels li {
    margin-bottom:10px;

}

/*---------- Profile  ------*/

#profile body {
    background-color: #eaeaea;
}

#profile img.avatar,
div.avatar {
    border: 1px solid #eee;
    width: 122px;
    height: 122px;
}

#profile .btn-file {
    position: relative;
    overflow: hidden;
}

#profile .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*-----------------------  Customer taslak  -----*/

#customer-navbar .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
#customer-navbar .darken-grey-text {
    color: #2E2E2E;
}

#customer-navbar .navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
#customer-navbar .darken-grey-text {
    color: #2E2E2E;
}

/*-----------------------  Customer Order  -----*/
#customer-order .image-main-section{
    background-color: #f1f1f1;
    padding: 20px 20px 20px 20px;
}

#customer-order .image-main-section{
    margin-bottom:20px;
}

#customer-order .img-part{
    border-radius: 5px;
    margin:0;
    border:1px solid #DDDDDD;
    background-color: #fff;
    padding-bottom: 20px;
}

#customer-order .img-section{
    padding: 5px;
}

#customer-order .img-section img{
    width: 100%;
}

#customer-order .image-title h3{
    margin:0;
    color:#4C4C4C;
    padding: 15px 0 8px 0;
}

#customer-order .image-description p{
    color:#848484;
}

#customer-order .add-cart-btn{
    border-radius:0;
    font-size: 11px;
    margin-top: 10px;
}

#customer-order .btn-success{
    margin-top: 10px;
    width: 105px;
}

#customer-order #Order-amount{
    width: 105px;
}

#customer-order #customer-order-title{
    color: #000;
}

/*----------------  Customer Profile  -----*/

#customer-profile img{
    margin-top: 65px;
}

/*----------------  Customer home  -----*/

#customer-home .navbar-brand{
    margin-top: 15px;
}

#customer-home .profil-pic{
    margin-top: 2px;
}

#customer-home #customer-name{
    margin-right: 10px;
}

#customer-home #customer-logout{
    margin-left: 30px;
}